<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> APP PROYECTO EMPRESA </h1>
    <br></br>
    
    <p><h2> <li> Panel clientes </li></h2></p>


    <h3> -Para cargar información de clientes ingrese a la url : <p style = "color:rgb(31, 31, 168)" > http://127.0.0.1:8000/Proyecto_Empresa/clienteform/ </h3>
    <h3> -Para buscar información de clientes ingrese a la url : <p style = "color:rgb(31, 31, 168)" > http://127.0.0.1:8000/Proyecto_Empresa/buscarcliente/ </h3> 
 
        <br></br>

    <p><h2> <li> Panel proveedores </li></h2></p>
 
    <h3> -Para cargar información de proveedores ingrese a la url : <p style = "color:rgb(128, 21, 7)" > http://127.0.0.1:8000/Proyecto_Empresa/proveedorform/ </h3>
    <h3> -Para buscar información de clientes ingrese a la url : <p style = "color:rgb(128, 21, 7)" > http://127.0.0.1:8000/Proyecto_Empresa/buscarproveedor/ </h3> 
     
        <br></br>

    <p><h2> <li> Panel colaboradores </li></h2></p>
 
    <h3> -Para cargar información de colaboradores ingrese a la url : <p style = "color:rgb(47, 143, 23)" > http://127.0.0.1:8000/Proyecto_Empresa/colaboradorform/ </h3>
    <h3> -Para buscar información de colaboradores ingrese a la url : <p style = "color:rgb(47, 143, 23)" > http://127.0.0.1:8000/Proyecto_Empresa/buscarcolaborador/ </h3> 
    


</body>
</html>