<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESULTADO BUSQUEDA DE COLABORADORES</title>
</head>
<H1>RESULTADO BUSQUEDA COLABORADORES </H1>
<body>

{% if colaborador %}
-------------------------------------------------------------------------------------------------------------

{% for colaboradores in colaborador %}

<h3> <li> Nombre: {{ colaboradores.nombre }} </li></h3>
<h3> <li> Apellido: {{ colaboradores.apellido }} </li></h3>
<h3> <li> DNI: {{ colaboradores.dni }} </li></h3>
<h3> <li> Mail: {{ colaboradores.mail }} </li></h3>
<h3> <li> Area: {{ colaboradores.area }} </li></h3>


-------------------------------------------------------------------------------------------------------------

{% endfor %}

{% else %}

<h2> No hay colaboradores que coincidan con los datos ingresados. </h2>

{% endif %}
</body>
</html>



